html {
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  background-color: #00539F;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 5px black;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 25px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  border-radius: 100px;
}

img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.header-description {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.footer {
  font-size: 15px;
  text-align: center;
}

figcaption {
  text-align: center;
}

.links-list a {
  background-color: rgb(19,57,81);
  color: #fff;
  text-decoration: none;
  padding: 1em 2.4em;
}

.links-list a:hover {
  background-color: rgb(66, 28, 40);
  color: #fff;
}

ul {
  display: flex;
  list-style-type: none;
}